body{
	background-color:white;

}
.gitar{
	border-radius: 10px 10px;
	width: 450px;
	height: 500px;
	 border: 4px double black;
}
.bass{
	border-radius: 10px 10px;
	width: 250px;
	height: 500px;
	 border: 4px double black;
}
.hat{
	background-color: #dca55c;
	text-decoration: none;
	 display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 2em;
  grid-gap: .5em;
  display: flex; 
	
	/* Распределяем элементы внутри шапки */
	justify-content: space-between;

	/* Выравниваем элементы вертикально по центру. */
	align-items: center;
}
 

.register{
	text-decoration: none;
	color: black;
}
a{
	text-decoration: none;
	color: black;
	float:left;

font-size:15px;
margin:10px;

margin-top: 4px;
}
.products{
grid-template-columns: 2fr;
margin-bottom: 10px;

}
.come{
	margin-bottom: 15px;
 margin-bottom: 10px;
  	margin-left:  1700px;

    font-size: 20pt;
}
