<app-header></app-header>
	<img class="telek" src="assets/img/elektrogitara-fender-squier-affinity-telecaster-mn-butterscotch-blonde.png" alt="">
	<h1>
		Электрогитара FENDER SQUIER AFFINITY TELECASTER MN BUTTERSCOTCH BLONDE
	</h1>
	<p> Электрогитара Fender Sqiuer Affinity Telecaster MN Butterscotch Blonde, цвет баттерскотч блонд. Корпус - ольха, гриф - клён, профиль грифа - `С`-образный, накладка - клён, инкрустация в виде точек, радиус накладки - 9.5" (24.1 см), 21 лад Medium Jumbo, ширина верхнего порожка 1.6” (40.6 мм), мензура 25.5` (64.8 см), звукосниматели S/S Tele® Single-Coil Bridge Pickup / Vintage Style Single-Coil Tele® Neck Pickup, регуляторы - 1 громкость, 1 тон, 3-х позиционный переключатель звукоснимателей, бридж - 6-Saddle Top-Load Tele® Bridge, фурнитура - хром. 

Серия Squier пережила моменты побед и болезненных поражений, но с 2007 года компания Fender произвела еще одну производственную революцию. В новых гитарах использовались самые современные средства и технологии, была обеспеченная минимально допустимая вероятность брака и жесткий контроль на всех стадиях производства.

Fender Squer Affinity Telecaster MN - это бюджетный цельнокорпусный вариант с достойной реализацией нужд начинающего гитариста. Гитара способна привести в этот мир яркий, богатый, насыщенный блюзовый тон.</p>

